@media (max-width: 425px) {

    .header__burger {
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .burger__close {
        right: -75px;
    }

    .block__one {
        margin-left: calc(50% - 420px / 2);
        margin-right: calc(50% - 420px / 2);
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .our-strong__heading {
        line-height: 40px;
        font-size: 40px;
    }

    .our-strong__text {
        width: 90%;
        margin-top: 14px;
    }

    .video {
        width: 90%;
        margin-top: 40px;
        padding-top: 0;
    }

    .block__two {
        margin-left: calc(50% - 378px / 2);
        margin-right: calc(50% - 378px / 2);
        margin-top: 44px;
    }

    .do-you-know__heading {
        font-size: 40px;
        width: 90%;
    }

    .do-you-know__text {
        width: 90%;
    }

    .line {
        margin-left: calc(50% - 342px / 2);
        margin-right: calc(50% - 342px / 2);
    }

    .block__three {
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .heading__products {
        font-size: 30px;
    }

    .heading__products_text {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
        width: 80%;
    }

    .feature-products__menu {
        flex-direction: column;
        align-items: center;
    }

    .blocks {
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
        gap: 7px;
    }

    .picture {
        width: 55%;
        height: auto;
    }

    .block__four {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
    }

    .block__four_meet-our-team {
        width: 80%;
    }

    .heading {
        font-size: 30px;
    }

    .heading__text {
        width: 100%;
    }

    .person__text {
        width: 100%;
    }

    .person__media {
        gap: 20px;
    }

    .persons {
        gap: 37px;
        justify-content: center;
    }

    .photo {
        width: 90%;
    }

    .form__mailing_list {
        flex-direction: column;
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .email {
        width: 90%;
        margin-bottom: 20px;
    }

    .button_subscribe {
        width: 90%;
        margin-left: 0;
    }

    .block__six {
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .block__six_get-in-touch {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
    }

    .text__info {
        width: 70%;
        margin-bottom: 22px;
    }

    .block__info {
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .footer {
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .footer__item {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
        padding-top: 21px;
    }
}