@media (max-width: 375px) {

    .header__burger {
        margin-left: calc(50% - 375px / 2);
        margin-right: calc(50% - 375px / 2);
    }

    .block__one {
        margin-left: calc(50% - 365px / 2);
        margin-right: calc(50% - 365px / 2);
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .our-strong__heading {
        line-height: 40px;
        font-size: 30px;
    }

    .our-strong__text {
        width: 90%;
        margin-top: 20px;
    }

    .video {
        width: 90%;
    }

    .block__two {
        margin-left: calc(50% - 365px / 2);
        margin-right: calc(50% - 365px / 2);
        margin-top: 44px;
    }

    .do-you-know__heading {
        font-size: 40px;
        width: 90%;
    }

    .do-you-know__text {
        width: 90%;
    }

    .subtitle {
        font-size: 20px;
    }

    .subtitle__about {
        font-size: 13px;
    }

    .line {
        margin-left: calc(50% - 302px / 2);
        margin-right: calc(50% - 302px / 2);
    }

    .block__three {
        margin-left: calc(50% - 365px / 2);
        margin-right: calc(50% - 365px / 2);
    }

    .heading__products {
        font-size: 30px;
    }

    .heading__products_text {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
        width: 80%;
    }

    .feature-products__menu {
        flex-direction: column;
        align-items: center;
        gap: 11px;
        margin-top: 42px;
    }

    .string__menu {
        font-size: 18px;
    }

    .blocks {
        gap: 7px;
        margin-left: calc(50% - 365px / 2);
        margin-right: calc(50% - 365px / 2);
    }

    .picture {
        width: 55%;
        height: auto;
    }

    .block__four {
        margin-left: calc(50% - 365px / 2);
        margin-right: calc(50% - 365px / 2);
    }

    .block__four_meet-our-team {
        width: 80%;
    }

    .heading {
        font-size: 30px;
    }

    .heading__text {
        width: 100%;
    }

    .persons {
        gap: 17px;
    }

    .person__text {
        width: 100%;
    }

    .person__media {
        gap: 16px;
    }

    .person__media_link {
        font-size: 15px;
    }

    .photo {
        width: 100%;
    }

    .block__five {
        margin-left: calc(50% - 375px / 2);
        margin-right: calc(50% - 375px / 2);    
    }


    .form__mailing_list {
        flex-direction: column;
        margin-left: calc(50% - 425px / 2);
        margin-right: calc(50% - 425px / 2);
    }

    .email {
        width: 80%;
    }

    .button_subscribe {
        width: 80%;
        margin-left: 0;
    }

    .block__six {
        margin-left: calc(50% - 375px / 2);
        margin-right: calc(50% - 375px / 2);
    }

    .block__six_get-in-touch {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
    }

    .text__info {
        width: 70%;
        margin-bottom: 22px;
    }

    .block__info {
        margin-left: calc(50% - 375px / 2);
        margin-right: calc(50% - 375px / 2);
    }

    .block__info_contact {
        margin-left: 27px;
    }

    .footer {
        margin-left: calc(50% - 375px / 2);
        margin-right: calc(50% - 375px / 2);
    }

    .footer__item {
        margin-left: calc(50% - 340px / 2);
        margin-right: calc(50% - 340px / 2);
        padding-top: 21px;
    }
}