@media (max-width: 1024px) {
    .body {
        margin: 0;
    }

    .header {
        margin-left: calc(50% - 1024px / 2);
        margin-right: calc(50% - 1024px / 2);
    }

    .block__one {
        margin-top: 0;
        margin-left: calc(50% - 921px / 2);
        margin-right: calc(50% - 1015px / 2);
    }

    .our-strong {
        width: 50%;
    }

    .video {
        width: 40%;
        height: auto;
    }

    .block__two {
        margin-left: calc(50% - 921px / 2);
        margin-right: calc(50% - 921px / 2);
    }

    .do-you-know {
        margin-bottom: 30px;
    }

    .types {
        margin-left: 0px;
        grid-template-columns: 50% auto;
    }

    .line {
        width: 80%;
        margin-left: calc(50% - 821px / 2);
        margin-right: calc(50% - 821px / 2);
    }

    .block__three {
        margin-left: calc(50% - 921px / 2);
        margin-right: calc(50% - 921px / 2);
    }

    .feature-products__menu {
        gap: 34px;
        padding-left: 0;
    }

    .blocks {
        margin-left: calc(50% - 933px / 2);
        margin-right: calc(50% - 933px / 2);
    }

    .block__four {
        margin-left: calc(50% - 921px / 2);
        margin-right: calc(50% - 921px / 2);
    }

    .block__four_meet-our-team {
        margin-left: 5px;
    }

    .block__five {
        padding-top: 60px;
        padding-bottom: 10px;
        width: 100%;
    }

    .subtitle__design {
        font-size: 34px;
    }

    .block__six {
        margin-left: calc(50% - 1024px / 2);
        margin-right: calc(50% - 1024px / 2);
    }

    .block__six_get-in-touch {
        margin-left: calc(50% - 921px / 2);
        margin-right: calc(50% - 921px / 2);
    }

    .container__get_in_touch {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .block__info {
        margin-top: 30px;
        margin-left: 0;
    }

    .form__send_message {
        width: 100%;
        gap: 30px;
        justify-content: center;
    }

    .input_field {
        width: 446px;
    }

    .input_field_messadge {
        width: 90%;
    }

    .button_send {
        width: 90%;
    }

    .footer {
        margin-top: 0;
    }

    .footer__item {
        margin-left: calc(50% - 921px / 2);
        margin-right: calc(50% - 921px / 2);
        padding-right: 7px;
    }
}